@page "/"
@using static InvestmentPortfolio.Client.Components.ModalInvestment
@using InvestmentPortfolio.Client.Exceptions
@using InvestmentPortfolio.Client.Services.Export
@inject NotificationService NotificationService
@inject IApiService ApiService
@inject IExportService ExportService
@rendermode InteractiveAuto

<PageTitle>Investiční portfolio</PageTitle>

<div style="max-width:1430px; margin:auto;">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="16px" Class="rz-unselectable-text rz-ps-4 rz-pe-4 rz-pt-2 rz-pb-2 rz-mb-2 rz-mt-6 rz-ms-4 rz-me-4 rz-border-radius-1" Style="min-width:683px; border: var(--rz-grid-cell-border);">
        <RadzenRow class="rz-ps-4 rz-pe-4 rz-pt-2 rz-pb-1 rz-border-radius-1 rz-background-color-base-100" Style="height:38px; border: var(--rz-grid-cell-border);">
            Celková suma investic: @_investments.TotalSumCzk.ToString("N0") Kč
        </RadzenRow>

        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Shade="Shade.Lighter" Text="CSV" Icon="download" ButtonStyle="ButtonStyle.Info" Click="@ExportInvestments" title="Stáhne CSV soubor s investicemi" />
            <RadzenButton Shade="Shade.Lighter" Click=@OpenModalInvestmentCreate Text="Přidat investici" ButtonStyle="ButtonStyle.Success" title="Otevře okno pro přidání investice" />
        </RadzenStack>
    </RadzenStack>

    <div class="responsive-columns" style="min-width:715px; ">    
        <div style="width:715px; margin-left:auto; margin-right:auto">
            <PortfolioTable Investments="@_investments.Items"
                            OnEdit="@OpenModalInvestmentEdit"
                            OnDelete="@OpenDeleteConfirmationDialog" />
        </div>

        <div style="width:715px; padding:0px 16px 16px 0px; margin:auto">
            <PortfolioPieChart Investments="@_investments.Items" OnInvestmentSummary="@ViewInvestmentSummary" />
        </div>
    </div>

    @foreach (var message in _alertMessages)
    {
        <RadzenStack Orientation="Orientation.Horizontal" Gap="16px" class="rz-unselectable-text">
            <RadzenAlert Close=@(() => _alertMessages.Clear()) AlertStyle="message.Style" Variant="Variant.Filled" Shade="Shade.Default" Size="AlertSize.Small" class="rz-ms-4 rz-me-4 rz-mt-2 rz-mb-4" Style="min-width:683px;">
                @message.Text
            </RadzenAlert>
        </RadzenStack>
    }

    <MarqueePerformance Investments="@_investments.Items" />

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" Gap="16px" Class="rz-unselectable-text rz-ps-4 rz-pe-4 rz-pt-2 rz-pb-2 rz-mb-6 rz-mt-2 rz-ms-4 rz-me-4 rz-border-radius-1" Style="min-width:683px; border: var(--rz-grid-cell-border);">
        <RadzenRow class="rz-ps-3 rz-pe-3 rz-pt-2 rz-pb-1 rz-border-radius-1 rz-background-color-base-100" Style="height:38px; border: var(--rz-grid-cell-border);">
            Investice přepočteny kurzy ČNB ze dne @_investments.ExchangeRates.Date
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Horizontal">
            <Loader Visible="@_isVisibleLoader" />
            @if (!_isVisibleLoader)
            {
                <RadzenButton Shade="Shade.Lighter" Click=@OpenModalExchangeRates Text="Kurzy" ButtonStyle="ButtonStyle.Primary" title="Zobrazí kurzy ČNB" />
            }
            <RadzenButton Shade="Shade.Lighter" Click=@RefreshExchangeRatesAsync Icon="refresh" ButtonStyle="ButtonStyle.Primary" title="Znovu načte kurzy ČNB" />
            <RadzenButton Shade="Shade.Lighter" Click=@OpenModalPerformance Icon="trending_up" ButtonStyle="ButtonStyle.Primary" title="Zobrazí detailní přehled výkonnosti investic" Visible=@GetPerformanceButtonVisibility(_investments) />
        </RadzenStack>
    </RadzenStack>

    <ModalExchangeRates IsOpen=@_isOpenModalExchangeRates
                        ExchangeRates="@_investments.ExchangeRates"
                        OnCancel="@((isOpen) => _isOpenModalExchangeRates = isOpen)" />

    <ModalInvestment IsOpen="@_isOpenModalInvestment"
                     Type="@_modalInvestmentType"
                     Investment="@_modalInvestmentData"
                     ExchangeRates="@_investments.ExchangeRates"
                     OnSubmit="@SubmitModalInvestment"
                     OnCancel="@((isOpen) => _isOpenModalInvestment = isOpen)" />

    <ModalDeleteConfirmationDialog IsOpen="@_isOpenModalDeleteConfirmationDialog"
                                   NameInvestment="@_dialogInvestment.Name"
                                   OnClose="@CloseDeleteConfirmationDialog" />

    <ModalPerformance IsOpen=@_isOpenModalPerformance
                      Investments="@_investments"
                      OnCancel="@((isOpen) => _isOpenModalPerformance = isOpen)" />

    <RadzenComponents />
</div>

@code {   
    private bool _isVisibleLoader;
    private bool _isOpenModalExchangeRates;
    private bool _isOpenModalPerformance;
    private bool _isOpenModalInvestment;
    private bool _isOpenModalDeleteConfirmationDialog;

    private InvestmentDto? _modalInvestmentData;
    private InvestmentsDto _investments = new();
    private Investment _dialogInvestment = new();
    private ModalInvestmentType _modalInvestmentType;
    private List<AlertMessage> _alertMessages = [];

    /// <summary>
    /// Opens the modal dialog for displaying investment performance.
    /// </summary>
    private void OpenModalPerformance() =>
        _isOpenModalPerformance = true;

    /// <summary>
    /// Opens the modal dialog for displaying exchange rates.
    /// </summary>
    private void OpenModalExchangeRates() =>
        _isOpenModalExchangeRates = true;

    /// <summary>
    /// Opens the modal dialog to create a new investment.
    /// </summary>
    private void OpenModalInvestmentCreate()
    {
        _modalInvestmentData = new();
        _modalInvestmentType = ModalInvestmentType.Create;
        _isOpenModalInvestment = true;
    }

    /// <summary>
    /// Opens the modal dialog to edit an existing investment.
    /// </summary>
    /// <param name="investment">The investment to edit.</param>
    private void OpenModalInvestmentEdit(Investment investment)
    {
        _modalInvestmentData = new();
        _modalInvestmentData.Value = investment.Value;
        _modalInvestmentData.Name = investment.Name;
        _modalInvestmentData.CurrencyCode = investment.CurrencyCode;
        _modalInvestmentData.Id = investment.Id;

        _modalInvestmentType = ModalInvestmentType.Edit;
        _isOpenModalInvestment = true;
    }

    /// <summary>
    /// Opens a modal dialog to confirm the deletion of an investment.
    /// </summary>
    /// <param name="investment">The investment to be deleted.</param>
    private void OpenDeleteConfirmationDialog(Investment investment)
    {
        _dialogInvestment = investment;
        _isOpenModalDeleteConfirmationDialog = true;
    }

    /// <summary>
    /// Closes the modal dialog and, if submitted, deletes the specified investment.
    /// </summary>
    /// <param name="isSubmit">Indicates whether the dialog was submitted.</param>
    private async Task CloseDeleteConfirmationDialog(bool isSubmit)
    {
        if (isSubmit)
        {
            await DeleteInvestmentAsync(_dialogInvestment);
        }

        _isOpenModalDeleteConfirmationDialog = false;
    }

    /// <summary>
    /// Submits the investment data to be saved or updated.
    /// </summary>
    /// <param name="investment">The investment data to submit.</param>
    private async Task SubmitModalInvestment(InvestmentDto investment)
    {
        _alertMessages.Clear();

        try
        {
            if (investment.Id != 0)
            {
                await ApiService.UpdateInvestmentAsync(investment);
                ShowNotification("Investice byla editována", investment.Name);
            }
            else
            {
                await ApiService.SaveInvestmentAsync(investment);
                ShowNotification("Investice byla uložena", investment.Name);
            }

            _investments = await ApiService.GetInvestmentsAsync();
        }
        catch (Exception ex)
        {
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Danger, Text = ex.Message });
        }
    }

    /// <summary>
    /// Deletes an investment asynchronously.
    /// </summary>
    /// <param name="investment">The investment to delete.</param>
    private async Task DeleteInvestmentAsync(Investment investment)
    {
        _alertMessages.Clear();

        try
        {
            await ApiService.DeleteInvestmentAsync(investment.Id);
            ShowNotification("Investice byla vymazána", investment.Name);

            _investments = await ApiService.GetInvestmentsAsync();
        }
        catch (Exception ex)
        {
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Danger, Text = ex.Message });
        }
    }

    /// <summary>
    /// Refreshes the exchange rates asynchronously.
    /// </summary>
    private async Task RefreshExchangeRatesAsync()
    {
        _isVisibleLoader = true;
        _alertMessages.Clear();

        try
        {
            _investments = await ApiService.GetInvestmentsAsync(true);

            if (_investments.ExchangeRates.Items.Count != 0)
            {
                ShowNotification("Kurzy ČNB byly načteny");
            }

            CheckExistsExchangeRates(_investments);
        }
        catch (Exception ex)
        {
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Danger, Text = ex.Message });
        }

        _isVisibleLoader = false;
    }

    /// <summary>
    /// Displays a notification message.
    /// </summary>
    /// <param name="summary">The summary of the notification message.</param>
    /// <param name="detail">The detailed information of the notification message.</param>
    private void ShowNotification(string summary, string detail = "")
    {
        var message = new NotificationMessage()
            {
                Style = "position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);",
                Severity = NotificationSeverity.Success,
                Summary = summary,
                Detail = detail
            };

        NotificationService.Notify(message);
    }

    /// <summary>
    /// Displays the summary of an investment.
    /// </summary>
    /// <param name="summary">The summary of the investment.</param>
    private void ViewInvestmentSummary(string summary)
    {
        _alertMessages.Clear();
        _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Info, Text = summary });
    }
        
    /// <summary>
    /// Checks if exchange rates exist and displays a warning if not.
    /// </summary>
    /// <param name="investments">The investments data.</param>
    private void CheckExistsExchangeRates(InvestmentsDto investments)
    {
        if (_investments.ExchangeRates.Items.Count == 0)
        {
            string message = "Nepodařilo se načíst kurzy ČNB, takže investice v cizí měně nejsou přepočteny na Kč a proto jsou v grafu a v celkové sumě započítány pouze investice v Kč.";
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Warning, Text = message });
            return;
        }

        var result = investments.Items.Where(i => i.CurrencyCode != "CZK" && investments.ExchangeRates.Items.All(e => e.Code != i.CurrencyCode)).ToList();

        if (result is not null && result.Count != 0)
        {
            var curencyCodes = string.Join(", ", result.Select(x => x.CurrencyCode));

            string message = $"V aktuálních kurzech ČNB nebyl nalezen směnný kurz pro kód měny \"{curencyCodes}\", takže investice v této měně nejsou přepočteny na Kč a uvedeny v celkové sumě a v grafu.";
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Warning, Text = message });
        }
    }

    /// <summary>
    /// Determines the visibility of the performance button.
    /// </summary>
    /// <param name="investments">The investments data.</param>
    /// <returns>True if the button should be visible, otherwise false.</returns>
    private bool GetPerformanceButtonVisibility(InvestmentsDto investments)
    {
        if (investments.Items.Any(x => x.CurrencyCode != "CZK") && investments.ExchangeRates.Items.Count != 0)
        {
            return true;
        }

        return false;
    }

    /// <summary>
    /// Exports investments data to a CSV file.
    /// </summary>
    private async Task ExportInvestments()
    {
        try
        {
            await ExportService.DownloadInvestmentsCsvFile(_investments.Items);
        }
        catch (Exception ex)
        {
            _alertMessages.Clear();
            _alertMessages.Add(new AlertMessage() { Style = AlertStyle.Danger, Text = ex.Message });
        }
    }   

    protected override async Task OnInitializedAsync()
    {   
        try
        {
            _investments = await ApiService.GetInvestmentsAsync();
            CheckExistsExchangeRates(_investments);
        }
        catch (Exception ex)
        {
            _alertMessages.Add(new AlertMessage {Style = AlertStyle.Danger, Text = ex.Message });
        }        
    }
}